@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.blocklyMainBackground {
  fill: #f3f4f6 !important;
}

.blocklyToolboxDiv {
  background-color: #ffffff !important;
}
